<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p-panel header="Table" styleClass="mb-3">
        <app-table-showcase />
      </p-panel>
      <p-panel header="Actions" styleClass="mb-3">
        <app-action-showcase />
      </p-panel>
      <p-panel header="Filters" styleClass="mb-3">
        <app-filter-showcase />
      </p-panel>
      <p-panel header="Editor" styleClass="mb-3">
        <app-editor-showcase />
      </p-panel>
      <p-panel header="Picker" styleClass="mb-3">
        <app-picker-showcase />
      </p-panel>
      
      <div class="card mb-3">
        <div class="card-header">Overlay</div>
        <div class="card-body">
          <app-overlay [style]="{ 'min-width': '350px' }">
            <span>Overlay test</span>
          </app-overlay>
          
          <p-button icon="bi bi-funnel" styleClass="p-button-primary" cdkOverlayOrigin
            #origin="cdkOverlayOrigin" (click)="overlay.toggle(this)" />
        </div>
      </div>
    </div>
  </div>
</div>

<g-column-templates>
  <ng-template g-column="birthDate" let-item let-column="column">
    {{ column.value(item) | date }}
  </ng-template>
  <ng-template g-column="bool" let-item let-column="column">
    {{ column.value(item) ? 'Si' : 'No' }}
  </ng-template>
</g-column-templates>