<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">Form valdemort</div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <input formControlName="email" type="email" />
            <val-errors controlName="email">
              <ng-template valError="required">The email is required</ng-template>
              <ng-template valError="email">The email must be a valid email address</ng-template>
            </val-errors>
          
            <input formControlName="age" type="number" />
            <val-errors controlName="age">
              <ng-template valError="required">The age is required</ng-template>
              <ng-template valError="min" let-error="error">You must be at least {{ error.min }} years old</ng-template>
            </val-errors>
          
            <button>Submit</button>
          </form>
        </div>
      </div>    
      <div class="card mb-3">
        <div class="card-header">Table</div>
        <div class="card-body">
          <app-table-showcase />
        </div>
      </div>    
      <div class="card mb-3">
        <div class="card-header">Actions</div>
        <div class="card-body">
          <app-action-showcase />
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Actions</div>
        <div class="card-body">
          <app-filter-showcase />
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Editor</div>
        <div class="card-body">
          <app-editor-showcase />
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Picker</div>
        <div class="card-body">
          <app-picker-showcase />
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Overlay</div>
        <div class="card-body">
          <app-overlay [style]="{ 'min-width': '350px' }">
            <span>Overlay test</span>
          </app-overlay>
          
          <p-button icon="bi bi-funnel" styleClass="p-button-primary" cdkOverlayOrigin
            #origin="cdkOverlayOrigin" (click)="overlay.toggle(this)" />
        </div>
      </div>
    </div>
  </div>
</div>

