// Show popups in offcanvas
// TODO: Put in editor?
.offcanvas, .offcanvas-backdrop {
  z-index: 999 !important;
}

val-errors div {
  display: inline;
}

// TODO: NEeded?
.mat-mdc-form-field-hint-wrapper, 
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}