.p-toast-message-icon {
  display: none;
}

// Do not show more than one <mat-error>
mat-error + mat-error {
  display: none !important;
}

.xng-breadcrumb-separator {
  margin: 0 !important;
  padding: 0 !important;
}

// Show popups in offcanvas
.offcanvas, .offcanvas-backdrop {
  z-index: 999 !important;
}
