@use '@angular/material' as mat;
@include mat.core();
@import "_palette";

$app-primary: mat.define-palette($primary-palette);
$app-accent: mat.define-palette($primary-palette);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

@include mat.all-component-themes($app-theme);
@include mat.form-field-density(-4);
@include mat.toolbar-density(-2);